@font-face {
  font-family: roboto;
  font-weight: normal;
  src: url("assets/fonts/robotocondensed-regular-webfont.woff2");
}

@font-face {
  font-family: roboto;
  font-weight: bold;
  src: url("assets/fonts/robotocondensed-bold-webfont.woff2");
}

@font-face {
  font-family: interui;
  font-weight: normal;
  src: url("assets/fonts/Inter-UI-Regular.woff2");
}

@font-face {
  font-family: generic;
  src: url("assets/fonts/Genericons.woff");
} 
