@font-face {
  font-family: roboto;
  font-weight: normal;
  src: url("../assets/fonts/robotocondensed-regular-webfont.woff2");
}
@font-face {
  font-family: roboto;
  font-weight: bold;
  src: url("../assets/fonts/robotocondensed-bold-webfont.woff2");
}
@font-face {
  font-family: interui;
  font-weight: normal;
  src: url("../assets/fonts/Inter-UI-Regular.woff2");
}
@font-face {
  font-family: generic;
  src: url("../assets/fonts/Genericons.woff");
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

main {
  padding-top: 70px;
  font-family: roboto, sans-serif;
}

.nw-icon {
  height: 20px;
  fill: #fff;
}

.row {
  margin: 0;
  padding: 0;
}

footer {
  font-size: 14px;
  color: #666;
  padding: 30px 15px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 3px 10px;
}
footer ul li a {
  color: #666;
}
footer section:first-child {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}
footer .nw-icon {
  height: 36px;
  fill: #f72210;
}
footer .footer-icons {
  font-size: 25px;
  cursor: pointer;
}
footer .footer-icons .fab {
  margin-right: 10px;
}
footer .footer-icons .fa-facebook-square {
  font-size: 26px;
}
footer .footer-icons .fa-tumblr {
  font-size: 20px;
}
footer .copyright {
  font-size: 12px;
  margin: 10px 0;
}

img {
  max-width: 100%;
}

.section-1 h2,
.section-2 h2,
.section-3 h2,
.section-4 h2,
.section-5 h2,
.section-6 h2 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 11px;
  color: rgba(3, 3, 3, 0.4);
}

h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #000;
}

.article-description-1 {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.topbar-1 {
  background-color: #f72210;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1;
}
.topbar-1 svg {
  margin-left: 10px;
}

.white-nav {
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  height: 50px;
}
.white-nav ul {
  border-bottom: solid 1px #d9d9d9;
}

.section-1 figcaption,
.section-2 figcaption {
  padding: 8px 15px;
  color: #f72210;
}

.section-4 figcaption {
  padding: 8px 15px;
  color: #3581f4;
}
.section-4 h3,
.section-4 p {
  padding: 0 20px;
}

.section-5 h4 {
  font-weight: bold;
  color: #000;
}

.more-stories-container {
  display: block;
  border-top: 1px solid #ddd;
  padding: 14px 0;
}
.more-stories-container h4 {
  font-size: 17px;
  margin-top: 0;
}
.more-stories-container p {
  font-size: 13px;
}

.section-9 h4,
.section-10 h4,
.section-11 h4,
.section-12 h4,
.section-13 h4,
.section-14 h4 {
  font-weight: bold;
  color: #000;
}
.section-9 h2,
.section-10 h2,
.section-11 h2,
.section-12 h2,
.section-13 h2,
.section-14 h2 {
  font-size: 22px;
  margin-top: 25px;
  padding-top: 25px;
  font-weight: bold;
  border-top: 1px solid #d9d9d9;
  color: #f72210;
}
.section-9 h3,
.section-10 h3,
.section-11 h3,
.section-12 h3,
.section-13 h3,
.section-14 h3 {
  font-size: 18px;
}
.section-9 .more-stories-container:first-of-type,
.section-10 .more-stories-container:first-of-type,
.section-11 .more-stories-container:first-of-type,
.section-12 .more-stories-container:first-of-type,
.section-13 .more-stories-container:first-of-type,
.section-14 .more-stories-container:first-of-type {
  border: 0;
}

.section-8 figcaption {
  padding: 9px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 17px;
  color: #f72210;
}

.caption-absolute figure {
  position: relative;
}
.caption-absolute figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.subscribe-section1,
.subscribe-section2 {
  background-color: #f4f5f6;
  padding: 24px 20px 20px;
}
.subscribe-section1 h3,
.subscribe-section2 h3 {
  font-size: 20px;
}
.subscribe-section1 p,
.subscribe-section2 p {
  font-size: 16px;
}
.subscribe-section1 .button,
.subscribe-section2 .button {
  background: #f72210;
  color: #f4f5f6;
  border: 0;
  height: 38px;
  padding: 0 20px;
}
.subscribe-section1 input[type=text],
.subscribe-section2 input[type=text] {
  border: 1px solid #d9d9d9;
  border-right: 0;
  height: 38px;
}

.section-6 article {
  display: block;
}
.section-6 article img {
  position: relative;
}
.section-6 article p {
  color: rgba(3, 3, 3, 0.5);
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: bold;
}
.section-6 article figcaption {
  padding: 0 6px;
  font-size: 13px;
  color: #333;
  background-color: #c2d4d7;
}

.opinion-container article {
  height: 100px;
  border-bottom: 1px solid #d9d9d9;
}
.opinion-container article img {
  height: 63px;
  margin-right: 15px;
}

.debate-container {
  border-top: 4px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
  margin-bottom: 20px;
}
.debate-container > div {
  height: 96px;
}
.debate-container > div img {
  width: 63px;
}
.debate-container > div:first-child {
  border-bottom: 2px solid #d9d9d9;
}
.debate-container > div:first-child img {
  margin-right: 15px;
}
.debate-container span {
  position: absolute;
  width: 100%;
  margin-top: -16px;
}
.debate-container span strong {
  background-color: #000;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: #fff;
}

.subscribe-btn {
  background-color: #ffe400;
  color: black;
  border-radius: 24px;
  display: flex;
  border: 0;
  margin: 0 10px;
}

.nav-button-container {
  justify-content: flex-end;
  flex: 1 1;
  padding-right: 10px;
}

.n-icon {
  display: block;
  width: 29px;
  height: 28px;
  background: url(../assets/icons/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.section-7 h2,
.section-8 h2 {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #333;
}
.section-7 h3,
.section-8 h3 {
  font-size: 16px;
  line-height: 16px;
  margin: 10px 0;
}
.section-7 article > span,
.section-8 article > span {
  font-weight: bold;
  font-size: 16px;
}
.section-7 article > span:first-of-type,
.section-8 article > span:first-of-type {
  padding: 0 7px;
  background-color: #f72210;
  color: white;
  margin-right: 7px;
}
.section-7 article > span:last-of-type,
.section-8 article > span:last-of-type {
  color: #f72210;
}

.grid {
  display: grid;
  display: -ms-grid;
}

.column-flex,
.row-flex-reverse,
.row-flex {
  display: flex;
}

.column-flex {
  flex-direction: column;
}

.row-flex-reverse {
  flex-direction: row-reverse;
}

.main-center {
  justify-content: center;
}

.cross-center {
  align-items: center;
}

.cross-end {
  align-items: flex-end;
}

.main-space-between {
  justify-content: space-between;
}

.main-start {
  justify-content: flex-start;
}

.main-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.more-stories-fig {
  width: 95px;
  height: 95px;
  float: left;
  margin-right: 10px;
}

.subscribe-newsletter h3 {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 11px;
  color: #f72210;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .hide-mob {
    display: none;
  }

  .content-divider {
    position: relative;
    padding-top: 36px;
  }
  .content-divider::before {
    content: "";
    display: block;
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    width: calc(100% + 30px);
    top: 0;
    left: -15px;
    right: -15px;
  }

  .subscribe-section1,
.subscribe-section2 {
    text-align: center;
  }
}
/* Desktop */
@media screen and (min-width: 992px) {
  .nw-icon {
    height: 60px;
  }

  .subscribe-section2 {
    padding: 0;
  }
  .subscribe-section2 figure {
    padding: 0;
    margin: 0;
  }
  .subscribe-section2 div {
    padding: 24px;
  }
  .subscribe-section2 img {
    height: 290px;
  }

  .topbar-1 {
    height: 90px;
    position: relative;
    width: 100%;
    color: #fff;
  }
  .topbar-1 > div > div:first-child {
    font-weight: bold;
  }

  .white-nav .white-nav1 li {
    padding: 0 15px;
  }
  .white-nav .white-nav2 li {
    padding: 0 15px;
  }
  .white-nav .white-nav2 li:not(:first-child) {
    color: #807f84;
  }
  .white-nav .white-nav1 li:not(:first-child):not(:last-child) {
    border-left: 1px solid #d9d9d9;
  }

  footer .copyright {
    margin: 0 10px;
  }

  .section-9 h2,
.section-10 h2,
.section-11 h2,
.section-12 h2,
.section-13 h2,
.section-14 h2 {
    margin-left: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
