@font-face {
  font-family: roboto;
  font-weight: normal;
  src: url("../assets/fonts/robotocondensed-regular-webfont.woff2");
}
@font-face {
  font-family: roboto;
  font-weight: bold;
  src: url("../assets/fonts/robotocondensed-bold-webfont.woff2");
}
@font-face {
  font-family: interui;
  font-weight: normal;
  src: url("../assets/fonts/Inter-UI-Regular.woff2");
}
@font-face {
  font-family: generic;
  src: url("../assets/fonts/Genericons.woff");
}
* {
  box-sizing: border-box;
}

main {
  padding-top: 50px;
}

h2 {
  font: bold 16px/16px roboto, sans-serif;
  text-transform: uppercase;
  padding-bottom: 11px;
  color: rgba(3, 3, 3, 0.4);
}

h3 {
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #000;
}

.article-description-1 {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.nw-icon {
  height: 20px;
  fill: #fff;
}

.topbar-1 {
  background-color: #f72210;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1;
}
.topbar-1 svg {
  margin-left: 10px;
}

.section-1 figure,
.section-2 figure {
  position: relative;
}
.section-1 figure figcaption,
.section-2 figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 15px;
  color: #f72210;
}

.section-2,
.section-3,
.section-3 > div:last-child,
.section-4 {
  position: relative;
  padding-top: 36px;
}
.section-2::before,
.section-3::before,
.section-3 > div:last-child::before,
.section-4::before {
  content: "";
  display: block;
  height: 18px;
  background-color: #f4f5f7;
  border-top: 1px solid #e2e2e2;
  position: absolute;
  width: calc(100% + 30px);
  top: 0;
  left: -15px;
  right: -15px;
}

.section-4 figure {
  position: relative;
}
.section-4 figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 15px;
  color: #3581F4;
}
.section-4 h3,
.section-4 p {
  padding: 0 20px;
}

.debate-container {
  border-top: 4px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
  margin-bottom: 20px;
}
.debate-container > div {
  height: 96px;
}
.debate-container > div img {
  width: 63px;
}
.debate-container > div:first-child {
  border-bottom: 2px solid #d9d9d9;
}
.debate-container > div:first-child img {
  margin-right: 15px;
}
.debate-container span {
  position: absolute;
  width: 100%;
  margin-top: -16px;
}
.debate-container span strong {
  background-color: #000;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: #fff;
}

.opinion-container article {
  height: 100px;
  border-bottom: 1px solid #d9d9d9;
}
.opinion-container article img {
  height: 63px;
  margin-right: 15px;
}

.subscribe-btn {
  background-color: #ffe400;
  color: black;
  border-radius: 24px;
  display: flex;
  border: 0;
}

.nav-button-container {
  margin-left: auto;
}

.grid {
  display: grid;
}

.row {
  margin: 0;
}

.row-flex-reverse,
.row-flex {
  display: flex;
}

.row-flex-reverse {
  flex-direction: row-reverse;
}

.main-center {
  justify-content: center;
}

.cross-center {
  align-items: center;
}

.main-space-between {
  justify-content: space-between;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .hide-mob {
    display: none;
  }

  img {
    max-width: 100%;
  }
}
/* Tablet */
/* Desktop */

/*# sourceMappingURL=style.css.map */
